#chibbi{
  font-family: 'Open Sans', sans-serif;
  max-width: 90%;
}
  .chat-launcher {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 9999;
    background: #4f26d1;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
  }
  .chat-launcher:before, .chat-launcher:after {
    position: absolute;
    -webkit-transition: transform 180ms linear, opacity 130ms linear;
    transition: transform 180ms linear, opacity 130ms linear;
  }
  .chat-launcher:before {
    content: url('data:image/svg+xml; utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="comment-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-comment-alt fa-w-16 fa-fw fa-2x"><path fill="white" d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 9.8 11.2 15.5 19.1 9.7L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64z" class=""></path></svg>');
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    width: 30px;
    left: 15px;
    top: 15px;
  }
  .chat-launcher:after {
    content: url('data:image/svg+xml; utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" class="svg-inline--fa fa-times fa-w-11 fa-3x"><path fill="white" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" class=""></path></svg>');
    opacity: 0;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg); 
    width: 24px;
    left: 18px;
    top: 13px;
  }
  .chat-launcher:hover {
    background: rgb(79 38 209 / 84%);
  }
  .chat-launcher.active:before {
    opacity: 0;
    -webkit-transform: rotate(70deg) scale(0);
    transform: rotate(70deg) scale(0);
  }
  .chat-launcher.active:after {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  .chat-wrapper {
    height: 500px;
    width: 385px;
    display: block;
    border-radius: 5px;
    background: #f2f2f2;
    position: fixed;
    right: 20px;
    bottom: 110px;
    z-index: 999;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 22px rgba(0, 0, 0, 0.16);
    -webkit-transition: transform 400ms ease;
    transition: transform 400ms ease;
    -webkit-transform: translateY(130%);
    transform: translateY(130%);
  }
  
  .chat-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
  }
  
  .chat-wrapper.is-open {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  .content-chibbi{
    margin: 15px;
  }
  
  .header-chibbi{
    background: #4f26d1;
    color: #fff;
    padding: 16px;
    border-radius: 8px 8px 0px 0px;
  }
  .header-chibbi p {
    margin: 0;
    padding: 0px 10px 4px 10px;
    margin-top: 24px;
    font-size: 15px;
  }
  /* .message{
    width: 265px;
    background: #dadada;
    padding: 10px;
    border-radius: 26px;
    padding-left: 20px;
  }
  
  .message p {
    margin: 0px;
  } */
  
  .img-chibbi{
    width: 65px;
    position: absolute;
    top: -22px;
    left: 15px;
  }
  
  .img-chibbi img{
    width: 65px;
    border-radius: 65px;
    border: 5px solid #4f26d1;
  }
  
  .header-chibbi h5{
    margin: 0;
    position: relative;
    left: 85px;
    font-size: 20px;
  }
  
  .online-chibbi{
    width: 10px;
    height: 10px;
    background: #27ff00;
    position: absolute;
    left: 75px;
    top: 10px;
    border-radius: 10px;
  }
  
  .card-chibbi {
    display: flex;
    padding: 22px;
    background: #fff;
    margin-top: 15px;
    border-radius: 5px;
    border-top: 2px solid rgb(79 38 209);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s;
    transform: scale(1);
  }
  
  .card-chibbi:hover{
    transform: scale(1.02);
  }
  
  .icon-one{
    width: 50px;
    margin-right: 7px;
    /* padding: 5px; */
  }
  
  .icon-one img {
    width: 100%;
    padding-top: 8px;
  }
  
  .cont h5{
    margin: 0;
    font-size: 16px;
    margin-left: 10px;
    color: #4c4c4c;
    font-weight: 600;
  }
  
  .cont p{
    margin: 0;
    font-size: 13px;
    color: #616161;
    margin-left: 10px;
    margin-top: 5px;
  }

  #returnMenu img{
    width: 11px;
  }

  #returnMenu{
    cursor: pointer;
  }

.conversation {
    height: calc(100% - 100px);
    position: relative;
    background: #efe7dd url(https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg) repeat;
    background-size: 100%;
    /* box-shadow: inset 0 10px 10px -10px #000000; */
    z-index: 0;
    padding: 0;
    margin: 0;
}

.conversation .conversation-container {
  height: calc(100% - 79px);
  box-shadow: inset 0 5px 6px -10px #000000;
  overflow-x: hidden;
  padding: 0 20px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.message-chibbi.received {
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  float: left;
}

.message-chibbi {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 90%;
  word-wrap: break-word;
  z-index: -1;
}

.message-chibbi.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}

.message-chibbi.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}
.message-chibbi:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}
.metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
}

.message-chibbi.received .metadata {
  padding: 0 0 0 16px;
}

.metadata .time {
  color: rgba(0, 0, 0, .45);
  font-size: 11px;
  display: inline-block;
}

.message-chibbi.sent {
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  float: right;
}

.metadata .tick {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  top: 4px;
  height: 16px;
  width: 16px;
}

.message-chibbi.sent:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}



.conversation-compose {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 50px;
  width: 100%;
  z-index: 2;
}

.conversation-compose .input-msg {
  border: 0;
  flex: 1 1 auto;
  font-size: 15px;
  margin: 0;
  outline: none;
  min-width: 50px;
}

.conversation-compose div, .conversation-compose input {
  background: #fff;
  height: 100%;
}
.conversation-compose .emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px 0 0 5px;
  flex: 0 0 auto;
  margin-left: 8px;
  width: 15px;
  /* width: 48px; */
}
.conversation-compose .photo {
  flex: 0 0 auto;
  border-radius: 0 0 5px 0;
  text-align: center;
  position: relative;
  width: 48px;
}
.conversation-compose .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
  position: relative;
  outline: none;
}
.conversation-compose .photo:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  top: 0;
  right: -10px;
}

.conversation-compose .send .circle {
  background: #008a7c;
  border-radius: 50%;
  color: #fff;
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversation-compose .send .circle i {
  font-size: 24px;
  margin-left: 5px;
}


.metadata .tick svg {
  position: absolute;
  transition: .5s ease-in-out;
}

.metadata .tick svg:first-child {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(180deg);
          transform: perspective(800px) rotateY(180deg);
}

.metadata .tick svg:last-child {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(0deg);
          transform: perspective(800px) rotateY(0deg);
}

.metadata .tick-animation svg:first-child {
  -webkit-transform: perspective(800px) rotateY(0);
          transform: perspective(800px) rotateY(0);
}

.metadata .tick-animation svg:last-child {
  -webkit-transform: perspective(800px) rotateY(-179.9deg);
          transform: perspective(800px) rotateY(-179.9deg);
}
